/*
*	COMMON
*/

/*
* bootstrap colours
*/
$primary: #007ab7;
$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;
/*
* other colours
*/
$black: #000000;
$white: #ffffff;
$grey: #949494;
$lightgrey: #f0f0f0;

/*
* glyphicons colouring 
*/
.green { color: $success; }
.red { color: $danger; }

h1, h2, h3, h4, h5, p {
	&:hover {
		cursor: default;
	}
}

a {
	text-decoration: none;
	&:hover, &:focus {
		text-decoration: none;
	}
	&:hover {
		cursor: pointer;
	}
}

$bodyPadding: 40px;
body {
	font-family: monospace;
	padding-top: $bodyPadding;
	padding-bottom: $bodyPadding;
	background-color: $lightgrey;
}

textarea { resize: vertical; }

input {
	color: $grey;
}

/*
* add "hidable animate-hidable" to DOM object class
* to animate the object's visibility state changes
* DOM object visibility must be controlled by one of the directives:
* ng-show or ng-hide
*/
.hidable {
	opacity: 1;
}
.animate-hidable {
	&.ng-hide {
		opacity: 0;
	}
	&.ng-hide-add, &.ng-hide-remove {
		transition: all linear 0.75s;
	}
}
