<div layout="column" layout-align="start stretch" layout-padding>
	<div ng-if="displayError" class="warn">
		{{displayError}}
	</div>

	<form ng-cloak accept-charset="UTF-8" name="loginForm" novalidate ng-submit="signUserIn(loginForm.$valid)" layout="column" layout-padding align-items="start stretch">

		<md-input-container>
			<input type="email" name="email" placeholder="{{ 'Common.Form.Placeholder.Email' | translate }}" required autofocus ng-model="email">
			<md-icon class="fa fa-envelope"></md-icon>
			<div ng-messages="loginForm.email.$error">
				<div ng-message="required">{{ 'Common.Form.Feedback.Email' | translate}}</div>
			</div>
		</md-input-container>

		<md-input-container>
			<input type="{{showPassword ? 'text' : 'password' }}" name="password" placeholder="{{ 'Common.Form.Placeholder.Password' | translate }}" required ng-model="password">
			<md-icon class="fa fa-eye" ng-if="!showPassword" ng-click="togglePasswordVisibility()"></md-icon>
			<md-icon class="fa fa-eye-slash" ng-if="showPassword" ng-click="togglePasswordVisibility()"></md-icon>

			<div ng-messages="loginForm.password.$error">
				<div ng-message="required">{{ 'Common.Form.Feedback.Password' | translate}}</div>
			</div>
		</md-input-container>

		<md-button type="submit" aria-label="submit">{{ 'Common.Action.Ok' | translate }}</md-button>
	</form>
<div>
