<md-toolbar flex class="md-toolbar-tools md-medium" layout="row" ng-controller="NavigationController">
	<h1>
		<a class="navbar-brand" ui-sref="app.sign-in">
			<i class="fa fa-users"></i>
			<span class="hide-sm hide-md hide-lg hide-xl">Ng1NS</span>
			<span class="hide-xs">{{ 'Nav.Header' | translate }}</span>
		</a>
	</h1>
	<span flex="1 1 auto" layout="row" layout-align="center center"></span>

	<span ng-controller="TranslateController" class="hide-xs hide-sm">
		<a md-button ng-click="changeLanguage('en')">
			<i class="fa fa-globe"></i> English
		</a>
		<a md-button ng-click="changeLanguage('ru')">
			<i class="fa fa-globe"></i> Русский
		</a>
	</span>

	<a md-button ng-click="logout()" class="hide-xs hide-sm">
		<i class="fa fa-power-off"></i> {{ 'Common.Action.Logout' | translate }}
	</a>

	<md-menu class="hide-md hide-lg hide-xl primary">
		<md-button aria-label="Open navigation menu" class="md-icon-button" ng-click="$mdMenu.open()">
			<i class="fa fa-bars"></i>
		</md-button>
		<md-menu-content>
			<span ng-controller="TranslateController">
				<md-menu-item>
					<a md-button ng-click="changeLanguage('en')">
						<i class="fa fa-globe"></i> English
					</a>
				</md-menu-item>
				<md-menu-item>
					<a md-button ng-click="changeLanguage('ru')">
						<i class="fa fa-globe"></i> Русский
					</a>
				</md-menu-item>
			</span>
			<md-menu-item>
				<a md-button ng-click="logout()">
					<i class="fa fa-power-off"></i> {{ 'Common.Action.Logout' | translate }}
				</a>
			</md-menu-item>
		</md-menu-content>
	</md-menu>
</md-toolbar>
